@keyframes gradient-animation {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.gradient-text {
  display: inline-block;
  position: relative;
}

.gradient-text--border {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  text-stroke: 1px rgba(255, 255, 255, 0.1);
}
